*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}
.container{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    position: relative;
}
.screen{
    display: none;
    padding: 2rem;
    text-align: center;
}
.screen.active{
    display: block;
}
#start-screen h1{
   color: #a0512f;
   font-size: 2.5rem;
   margin-bottom: 30px;
}
#start-screen p{
   color: #666;
   font-size: 1.1rem;
   margin-bottom: 30px;
}
.quiz-header{
    margin-bottom: 2rem;
}
#question-text{
    color: #333;
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 1rem;
}
.quiz-info{
    display: flex;
    justify-content: space-between;
    color: #666;
    margin-bottom: 10px;
}
.answer-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}
.answer-btn{
    background-color:#f8f0e5 ;
    color: #333;
    border: 2px solid #eadbc8;
    padding: 2rem;
    cursor: pointer;
    text-align: left;
}
.answer-btn:hover{
    background-color:#eadbc8 ;
    border: #dac0ae;
}
.answer-btn.correct{
    background-color:#e6fff0;
    border: #a3f0c4;
    color: #28a745;
}
.answer-btn.incorrect{
    background-color:#fff0f0;
    border: #ffbdbd;
    color: #dc3545;
}
.progress-bar{
    background-color: #f8f0e5;
    overflow: hidden;
    height: 10px;
    border-radius:5px ;
    margin-top: 20px;
}
.progress{
    height: 100%;
    width: 0%;
    background-color: #a0512f;
    transition: width 0.3s ease;
}
#result-screen h1{
    color: #a0512f;
    margin-bottom: 30px;
}
.result-info{
    background-color: #f8f0e5;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
}
.result-info p{
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}
#result-message{
    font-size: 1.5rem;
    font-weight: 600;
    color: #a0512f;
}
button{
    background-color: #a0512f;
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease ;
}
button:hover{
    background-color: #81472e;
}

@media (max-width:500px) {
    /* we implement 500px or below */
    .screen{
        padding: 1rem;
    }
    #start-screen h1{
        font-size: 2rem;
    }
    #question-text{
        font-size: 1.3rem;
    }
    .answer-btn{
        padding: 12px;
    }
    .button{
        padding: 12px 25px;
        font-size: 1rem;
    }
}













